.env
.env.local
.env.*.local

__pycache__/
*.py[cod]
*.sqlite3
.venv/

.idea/
.vscode/

node_modules/
build/
dist/
.cache/

*.coverage
*.log

.webpack/
.babelrc
.babel-cache/

*.jar
replacements.txt

